<table>
  <form class='edit-form' action='/locations/<%=location.id%>' method='post'>
    <input type='hidden' name='_method' value='put'>
    <tr>
      <td>Location name:</td>
      <td><input type='text' name='location[name]' placeholder="Enter location name" value='<%=location.try(:name)%>' required></td>
    </tr>
    <tr>
      <td>Zipcode:</td>
      <td><input type='text' name='location[zip]' placeholder="Enter zipcode" pattern="\d{5}" value='<%=location.try(:zip)%>' required></td>
    </tr>
    <tr>
      <td>Notes:</td>
      <td><textarea name='location[note]' rows="6" cols="40"><%=location.try(:note)%></textarea></td>
    </tr>
    <tr>
      <td></td><td><a href="#" class="cancel">Cancel Editing</a></td>
    </tr>
    <tr>
      <td></td><td><input type='submit' value='Submit Changes to <%=location.zip%>?'></td><td></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <form action='/locations/<%=location.id%>' method='post'>
          <input type='hidden' name='_method' value='delete'>
          <input type='submit' value='Delete?'>
        </form>  
      </td>
    </tr>
  </form>
</table>
