<hr>
<div class="location">
  <table>
    <tr>
      <td><a class='edit-delete' href="/locations/<%=location.id%>/edit"><%=location.name%></a></td>
      <td></td>
<!--         <td><form action='#' type='get'>
        <input type='submit' value ='Get Repeaters for <%=location.zip%>'>
      </form></td> -->
      <td>
        <form class="query-button" action='/csv' method='post'>
        <input type='hidden' name='url' value='https://www.repeaterbook.com/repeaters/print/PFprox.php?city=<%=location.zip%>&distance=50&Dunit=m&freq=&band=14&call=&use=%&features=%&status_id=%'>
        <input type='submit' value='Get Repeaters for <%= location.zip %>'>
      </form></td>
    </tr>
  </table>
  <div class="edit-delete-form">
    <%= erb :'locations/_edit_form.html', layout: false, locals: { location: location } %>
  </div>
  <div class="query-result">
    <a href="../output.csv" download="<%=location.zip%>.csv">Download Your CSV for CHIRP!</a>
  </div>
  <p>Notes: <%=location.note%></p>
</div>

