<div class="location">
<hr>
  <p>
    <strong><%=location.name%></strong> (<%=location.zip%>) 
    <span class="edit-delete-span">
      <small><a class='edit-delete' href="/locations/<%=location.id%>/edit">Edit/Delete?</a></small>
    </span>
  </p>
  <p>
    <strong>Notes:</strong> <%=location.note%>
  </p>

  <form class="query-button" action='/csv' method='post'>
    <input type='hidden' name='zip' value='<%=location.zip%>'>
    <input type='submit' value='Get Repeaters for <%= location.zip %>'>
  </form>
  
  
  <div class="edit-delete-form-div">
    <div class='edit-delete-form' ></div>
    <%= erb :'locations/_edit_form.html', layout: false, locals: { location: location } %>
  </div>

  <div class="query-result">
  <!-- #{settings.root}/tmp/#{zip}_#{user.name}.csv -->
    <a href="<%= settings.root %>/tmp/<%= location.zip %>.csv" >Download Your CSV for CHIRP!</a>
  </div>
</div>

